In [1]:
from urllib import request
import pandas as  pd
import numpy as np

In [2]:
#### <span style="color:blue"> 1. Download do Dataset do Portal de Dados Abertos </span>

In [3]:
file_url = 'https://ons-dl-prod-opendata.s3.amazonaws.com/dataset/linha_transmissao/LINHA_TRANSMISSAO.csv'
source_file = 'LINHA_TRANSMISSAO.csv'
request.urlretrieve(file_url , source_file )

('LINHA_TRANSMISSAO.csv', <http.client.HTTPMessage at 0x225c5db70d0>)

In [4]:
dataframe = pd.read_csv(source_file, sep=';',encoding = "utf-8")

if (dataframe.empty) :
    print('DATAFRAME VAZIO')
else:
  print('shape:', dataframe.shape)
  print('columns:', dataframe.columns)

shape: (2134, 19)
columns: Index(['id_subsistema_terminalde', 'nom_subsistema_terminalde',
       'id_subsistema_terminalpara', 'nom_subsistema_terminalpara',
       'id_estado_terminalde', 'nom_estado_de', 'id_estado_terminalpara',
       'nom_estado_para', 'nom_subestacao_de', 'nom_subestacao_para',
       'val_niveltensao_kv', 'nom_tipoderede', 'nom_tipolinha',
       'nom_agenteproprietario', 'nom_linhadetransmissao', 'cod_equipamento',
       'dat_entradaoperacao', 'dat_desativacao', 'val_comprimento'],
      dtype='object')

In [7]:
#descobrir os tipos de dados
dataframe.dtypes

id_subsistema_terminalde        object
nom_subsistema_terminalde       object
id_subsistema_terminalpara      object
nom_subsistema_terminalpara     object
id_estado_terminalde            object
nom_estado_de                   object
id_estado_terminalpara          object
nom_estado_para                 object
nom_subestacao_de               object
nom_subestacao_para             object
val_niveltensao_kv             float64
nom_tipoderede                  object
nom_tipolinha                   object
nom_agenteproprietario          object
nom_linhadetransmissao          object
cod_equipamento                 object
dat_entradaoperacao             object
dat_desativacao                 object
val_comprimento                float64
dtype: object

In [5]:
dataframe.head(3)

,id_subsistema_terminalde,nom_subsistema_terminalde,id_subsistema_terminalpara,nom_subsistema_terminalpara,id_estado_terminalde,nom_estado_de,id_estado_terminalpara,nom_estado_para,nom_subestacao_de,nom_subestacao_para,val_niveltensao_kv,nom_tipoderede,nom_tipolinha,nom_agenteproprietario,nom_linhadetransmissao,cod_equipamento,dat_entradaoperacao,dat_desativacao,val_comprimento
0,NE,NORDESTE,NE,NORDESTE,AL,ALAGOAS,AL,ALAGOAS,ARAPIRACA III,PENEDO,230.0,BASICA,LINHA DE TRANSMISSÃO,CHESF,LT 230 kV ARAPIRACA III / PENEDO ...,ALART-2PEN-1,2013-06-09,NaN,89.4
1,NE,NORDESTE,NE,NORDESTE,AL,ALAGOAS,AL,ALAGOAS,ARAPIRACA III,RIO LARGO II,230.0,BASICA,LINHA DE TRANSMISSÃO,CHESF,LT 230 kV ARAPIRACA III / RIO LARGO II...,ALART-2RLD-1,2013-06-09,NaN,124.4
2,NE,NORDESTE,NE,NORDESTE,AL,ALAGOAS,AL,ALAGOAS,MESSIAS,MACEIO,230.0,BASICA,LINHA DE TRANSMISSÃO,CHESF,LT 230 kV MESSIAS / MACEIO ...,ALMSI-2MCO-1,2002-11-10,NaN,26.5

In [ ]:
dataframe.select_dtypes(include='number').head()
#selecionar colunas numericas